:root {
  --color-bg: #ffffff;
  --color-bg-alt: #f7f7f7;
  --color-border: #ddc7c7;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-text: #000000;
  --color-text-light: #aaaaaa;

  --weight-default: 400;
  --weight-bold: 600;

  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Cinzel", serif;
  font-weight: var(--weight-default);
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-bold);
}

h1 {
  font-size: 2.6rem;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: var(--weight-bold);
}
